.body {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}
.header {
  border-bottom: solid;
  border-bottom-color: #d9d9d9;
  min-height:100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
}
.logo {
  pointer-events: none;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu{
  display: flex;
  height: 100px;
  width: 100%;
  flex-direction: row;
}
.menuItem{
  height: 100px;
  width: 100%;
  border: #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.content{
  display: flex;
  height: 460px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.footer{
  border-top: solid;
  border-top-color: #d9d9d9;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
}
