body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.header {
  border: solid;
  min-height:100px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;
  color: #2d6fe9;
}
.logo {
  border: solid;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #cefc73;
}
.menu{
  border: solid #3e8b37;
  display: flex;
  height: 100px;
  width: 50%;
  flex-direction: row;
}
.menuItem{
  height: 100px;
  width: 100%;
  border: #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: #555956;
}
.content{
  height: 460px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #6c1c5d;
}
.footer{
  border: solid;
  min-height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;
  color: #6debcf;
}

