.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App-header {
  background-color: darkblue;
  min-height:100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 10px;
  color: white;
}
.App-link {
  color: #61dafb;
}
.App-logo {
  pointer-events: none;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-menu{
  display: flex;
  height: 100px;
  width: 275px;
  /*justify-content: space-between;*/
  flex-direction: row;
  background-color: powderblue;
}
.App-menu-item{
  height: 98px;
  width: 100%;
  border : darkblue 1px solid;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.App-content{
  display: flex;
  height: 460px;
  background: steelblue;
  color: #61dafb;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.App-footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  background-color: darkblue;
}
.Footer-paragraph{
  width: 275px;
  display: flex;
  align-items: center;
  font-size: 50px;
  color: #61dafb;
}
@media (min-width: 992px) {
  .App {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .App-header {
    background-color: darkblue;
    min-height:200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 20px;
    color: white;
  }
  .App-logo {
    pointer-events: none;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .App-menu{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: space-between;
    align-content: flex-end;
    flex-direction: row;
    background-color: powderblue;
  }
  .App-menu-item{
    height: 196px;
    width: 100%;
    border: darkblue 2px solid;
    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  .App-content{
    display: flex;
    height: 900px;
    background: steelblue;
    color: #61dafb;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .App-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 200px;
    background-color: darkblue;
  }
  .Footer-paragraph{
    width: 1100px;
    display: flex;
    align-items: center;
    font-size: 100px;
    color: #61dafb;
  }
}
