body {
    max-width: 960px;
    margin: auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #696969;
}

a {
    color: #696969;
    text-decoration: none;
    font-weight: bold;
}

button {
    color: #696969;
    /*font-weight: bold;*/
    border-radius: 5px;
    border: 2px solid #f3f3f3;
    margin: 5px;
}

input {
    color: #696969;
    border-radius: 5px;
    border: 2px solid #f3f3f3;
    margin-right: 5px;
}

header {
    background-color: #f3f3f3;
}

footer {
    background-color: #f3f3f3;
}

.footer-menu {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.footer-logo {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: xx-small;
    font-weight: bold;
}

.container {
    margin-top: 50px;
}

.container-header {
    padding-top: 20px;
    padding-bottom: 25px;
}

.container-footer {
    padding: 20px;
}

.logo {
    background-image: url("logo.svg");
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    float: left;
    margin-right: 10px;
}

footer nav {
    display: inline-block;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    text-align: left;
}

main {
    margin: 50px;
}
